@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Playfair+Display&display=swap");

body {
  background: rgb(144, 137, 7);
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Pacifico", cursive;
  margin: 0;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  margin-left: 40px;
}

#multiple {
  font-family: "Dhurjati", sans-serif;
  font-size: xx-large;
  color: rgb(255, 0, 170);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

.texts {
  text-align: center;
  padding: 0 40px 0 40px;
  margin: 0 20px 5px 20px;
}

#body {
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  gap: 10px;
  border: 3px solid black;
  margin: 3px 5px 3px 5px;
}

button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  box-shadow: 0 0 1rem #eb5d53;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin: 0 20px 5px 20px;
  justify-content: space-between;
}

@media (max-width: 650px) {
  img {
    width: 70%;
    height: 60%;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    gap: 10px;
    border: 3px solid black;
    margin: 3px 5px 3px 5px;
  }
  #multiple {
    font-family: "Dhurjati", sans-serif;
    font-size: x-large;
    color: rgb(255, 0, 170);
  }
}
