@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Playfair+Display&display=swap");

body {
  background-image: url("paper.gif");
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Pacifico", cursive;
  margin: 0;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  margin-left: 40px;
}

#multiple {
  font-family: "Dhurjati", sans-serif;
  font-size: xx-large;
  color: rgb(255, 0, 170);
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

.texts {
  text-align: center;
  padding: 0 40px 0 40px;
  font-weight: bold;
  margin: 0 20px 5px 20px;
}

#body {
  text-align: center;
}

img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border: 3px solid rgb(71, 182, 68);
  margin: 3px 5px 3px 5px;
}

button {
  background-color: #3b0c08;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px 8px 16px 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.8s ease;
}

button:hover {
  background: rgb(222, 184, 135);
  color: rgb(85, 82, 76);
  transition: 0.6s ease;
  box-shadow: 0 0 1rem #eb5d53;
  border-radius: 8px 16px 8px 16px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin: 0 20px 5px 20px;
  justify-content: space-between;
}

@media (max-width: 650px) {
  img {
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: 3px solid rgb(71, 182, 68);
    margin: 3px 5px 3px 5px;
  }

  #multiple {
    font-family: "Dhurjati", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(255, 0, 170);
  }

  button {
    background-color: #3b0c08;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 16px 8px 16px 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.8s ease;
  }

  button:hover {
    background: rgb(222, 184, 135);
    color: rgb(85, 82, 76);
    transition: 0.6s ease;
    box-shadow: 0 0 1rem #eb5d53;
    border-radius: 8px 16px 8px 16px;
  }
}
